{% extends "inventory/dashboard_base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h1 class="fw-bold">Management Dashboard</h1>
        <p class="text-muted">Welcome back! Monitoring your network status.</p>
    </div>
</div>

<div class="row g-4 mb-4">

    <!-- Machines -->
    <div class="col-md-3">
        <div class="card p-3 bg-white text-center h-100">
            <small class="text-muted fw-bold">TOTAL MACHINES</small>
            <h2 class="fw-bold text-dark mb-3">{{ machine_count }}</h2>

            <button class="btn btn-primary w-100 mt-auto"
                data-bs-toggle="modal" data-bs-target="#addMachineModal">
                + Add Machine
            </button>
        </div>
    </div>

    <!-- Stores -->
    <div class="col-md-3">
        <div class="card p-3 bg-white text-center h-100">
            <small class="text-muted fw-bold">TOTAL STORES</small>
            <h2 class="fw-bold text-dark mb-3">{{ store_count }}</h2>

            <button class="btn btn-primary w-100 mt-auto"
                data-bs-toggle="modal" data-bs-target="#addStoreModal">
                + Add Store
            </button>
        </div>
    </div>

    <!-- Storage -->
    <div class="col-md-3">
        <div class="card p-3 bg-white text-center h-100">
            <small class="text-muted fw-bold">TOTAL STORAGE</small>
            <h2 class="fw-bold text-dark mb-3">{{ storage_count }}</h2>

            <button class="btn btn-primary w-100 mt-auto"
                data-bs-toggle="modal" data-bs-target="#addStorageModal">
                + Add Storage
            </button>
        </div>
    </div>

    <!-- Products -->
    <div class="col-md-3">
        <div class="card p-3 bg-white text-center h-100">
            <small class="text-muted fw-bold">TOTAL PRODUCTS</small>
            <h2 class="fw-bold text-dark mb-3">{{ product_count }}</h2>

            <button class="btn btn-primary w-100 mt-auto"
                data-bs-toggle="modal" data-bs-target="#addProductModal">
                + Add Product
            </button>
        </div>
    </div>

</div>
<!-- Machines Table -->
<div class="card mb-4">
    <div class="card-header bg-white py-3">
        <h5 class="fw-bold mb-0">Vending Network</h5>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr class="text-muted">
                        <th>Location</th>
                        <th>Status</th>
                        <th>Coordinates</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for machine in machines %}
                    <tr>
                        <td><strong>{{ machine.location_name }}</strong></td>
                        <td>
                            <span class="badge bg-success-subtle text-success px-3">
                                {{ machine.get_status_display  }}
                            </span>
                        </td>
                        <td class="text-muted small">
                            {{ machine.latitude }}, {{ machine.longitude }}
                        </td>
                        <td class="text-end">
                            <button 
                                class="btn btn-sm btn-outline-secondary MachineManage-btn"
                                data-id="{{ machine.id }}"
                                data-locationName="{{ machine.location_name}}"
                                data-name="{{ machine.MachineName }}"
                                data-status="{{ machine.status }}"
                                data-lat="{{ machine.latitude }}"
                                data-lng="{{ machine.longitude }}"
                                data-bs-toggle="modal"
                                data-bs-target="#MachineManageModal">
                                Manage
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center py-5 text-muted">
                            No machines found. Start by adding your first one!
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Stores Table -->
<div class="card">
    <div class="card-header bg-white py-3">
        <h5 class="fw-bold mb-0">Store Network</h5>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr class="text-muted">
                        <th>Location</th>
                        <th>Status</th>
                        <th>Coordinates</th>
                        <th>store hours</th>
                        <th>Open Days</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for store in stores %}
                    <tr>
                        <td><strong>{{ store.location_name }}</strong></td>
                        <td>
                            <span class="badge bg-success-subtle text-success px-3">
                                {{ store.status }}
                            </span>
                        </td>
                        <td class="text-muted small">
                            {{ store.latitude }}, {{ store.longitude }}
                        </td>
                        <td>
                            {{ store.opening_time}} - {{store.closing_time}}
                        </td>
                        <td>
                            {{ store.get_open_days_display|join:", " }}
                        </td>
                        <td class="text-end">
                            <button 
                                class="btn btn-sm btn-outline-secondary manage-btn"
                                data-id="{{ store.id }}"
                                data-name="{{ store.location_name }}"
                                data-status="{{ store.status }}"
                                data-lat="{{ store.latitude }}"
                                data-lng="{{ store.longitude }}"
                                data-opening="{{ store.opening_time|time:'H:i' }}"
                                data-closing="{{ store.closing_time|time:'H:i' }}"
                                data-days="{{ store.get_open_days_display|join:', ' }}"
                                data-bs-toggle="modal"
                                data-bs-target="#manageModal">
                                Manage
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center py-5 text-muted">
                            No stores found. Start by adding your first one!
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Storage table -->
<div class="card mb-4">
    <div class="card-header bg-white py-3">
        <h5 class="fw-bold mb-0">Storage Network</h5>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr class="text-muted">
                        <th>Location</th>
                        <th>Status</th>
                        <th>Coordinates</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for inv in storage %}
                    <tr>
                        <td><strong>{{ inv.location_name }}</strong></td>
                        <td>
                            <span class="badge bg-success-subtle text-success px-3">
                               
                            </span>
                        </td>
                        <td class="text-muted small">
                            {{ inv.latitude }}, {{ inv.longitude }}
                        </td>
                        <td class="text-end">
                            <button 
                                class="btn btn-sm btn-outline-secondary StorageManage-btn"
                                data-id="{{ inv.id }}"
                                data-locationName="{{ inv.location_name}}"
                                data-name="{{ inv.name }}"
                                data-status=""
                                data-lat="{{ inv.latitude }}"
                                data-lng="{{ inv.longitude }}"
                                data-bs-toggle="modal"
                                data-bs-target="#StorageManageModal">
                                Manage
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center py-5 text-muted">
                            No Storage found. Start by adding your first one!
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Products table-->
<div class="card mb-4">
    <div class="card-header bg-white py-3">
        <h5 class="fw-bold mb-0">Products</h5>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr class="text-muted">
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Stock Quantity</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            <strong>{{ product.name }}</strong>
                            
                            {% if product.image %}
                                <div class="img-hover-container">
                                    <img src="{{ product.image.url }}" class="thumb" alt="{{ product.name }}">
                                    
                                    <div class="hover-preview">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </div>
                                </div>
                            {% else %}
                                <div class="text-muted small">No Image Available</div>
                            {% endif %}
                        </td>
                        <td>
                            <span class="badge bg-success-subtle text-success px-3">
                                {{ product.category  }}
                            </span>
                        </td>
                        <td class="text-muted small">
                            {{ product.price }}
                        </td>
                        <td class="text-muted small">
                            {{ product.stock_quantity }}
                        </td>
                        <td class="text-end">
                        <button 
                            class="btn btn-sm btn-outline-secondary ProductManage-btn"
                            data-id="{{ product.id }}"
                            data-name="{{ product.name }}"
                            data-price="{{ product.price }}"
                            data-category="{{ product.category.id }}"
                            data-image="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}"
                            data-stock_quantity="{{ product.stock_quantity}}"
                            data-bs-toggle="modal"
                            data-bs-target="#ProductManageModal">
                            Manage
                        </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center py-5 text-muted">
                            No machines found. Start by adding your first one!
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- ================= MODALS ================= -->

<!-- Add Machine Modal -->
<div class="modal fade" id="addMachineModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Machine</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="POST" action="{% url 'add_machine' %}">
                {% csrf_token %}

                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Location Name</label>
                        <input type="text" name="location_name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Latitude</label>
                        <input type="text" name="latitude" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Longitude</label>
                        <input type="text" name="longitude" class="form-control" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save Machine</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Add Store Modal -->
<div class="modal fade" id="addStoreModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Store</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="POST" action="{% url 'add_store' %}">
                {% csrf_token %}

            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">Location Name</label>
                    <input type="text" name="location_name" class="form-control" required>
                </div>

            <div class="mb-3">
                <label class="form-label">Latitude</label>
                <input type="number" step="any" min="-90" max="90" name="latitude" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Longitude</label>
                <input type="number" step="any" min="-180" max="180" name="longitude" class="form-control" required>
            </div>

                <div class="mb-3">
                    <label class="form-label">Open Days</label>

                    <div class="d-flex flex-wrap gap-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="open_days" value="1">
                            <label class="form-check-label">Mon</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="open_days" value="2">
                            <label class="form-check-label">Tue</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="open_days" value="4">
                            <label class="form-check-label">Wed</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="open_days" value="8">
                            <label class="form-check-label">Thu</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="open_days" value="16">
                            <label class="form-check-label">Fri</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="open_days" value="32">
                            <label class="form-check-label">Sat</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="open_days" value="64">
                            <label class="form-check-label">Sun</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Opening Time</label>
                        <input type="time" name="opening_time" class="form-control" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Closing Time</label>
                        <input type="time" name="closing_time" class="form-control" required>
                    </div>
                </div>

            </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save Store</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- add sotrage madal -->

<div class="modal fade" id="addStorageModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Storage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="POST" action="{% url 'add_storage' %}">
                {% csrf_token %}

                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Storage Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Location Name</label>
                        <input type="text" name="location_name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Latitude</label>
                        <input type="number" step="any" min="-90" max="90" name="latitude" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Longitude</label>
                        <input type="number" step="any" min="-180" max="180" name="longitude" class="form-control" required>
                    </div>
                </div> 

                <div class="modal-footer"> 
                    <button type="submit" class="btn btn-success">Save Storage</button>
                </div>

            </form>

        </div>
    </div>
</div>
<!-- add Product-->
<div class="modal fade" id="addProductModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Product Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select name="category" class="form-control" required>
                            <option value="">Select Category</option>
                            {% for cat in category %}
                                <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="number" step="any" name="Price" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">stock_quantity</label>
                        <input type="number" step="any" name="stock_quantity" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Product Image</label>
                        <input type="file" name="image">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save Product</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div> 



<!-- store manage madal --> 
<div class="modal fade" id="manageModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST"  action="{% url 'edit_store' %}">
        {% csrf_token %}
        
        <div class="modal-header">
          <h5 class="modal-title">Manage Store</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          
          <input type="hidden" name="store_id" id="storeId">

          <div class="mb-2">
            <label>Name</label>
            <input type="text" class="form-control" name="location_name" id="storeName">
          </div>

          <div class="mb-2">
            <label>Status</label>
            <select class="form-select" name="status" id="storeStatus">
                <option value="Open">Open</option>
                <option value="Closed">Closed</option>
            </select>
          </div>

          <div class="mb-2">
            <label>Latitude</label>
            <input type="text" class="form-control" name="latitude" id="storeLat">
          </div>

          <div class="mb-2">
            <label>Longitude</label>
            <input type="text" class="form-control" name="longitude" id="storeLng">
          </div>

          <div class="mb-2">
            <label>Opening Time</label>
            <input type="time" class="form-control" name="opening_time" id="storeOpening">
          </div>

          <div class="mb-2">
            <label>Closing Time</label>
            <input type="time" class="form-control" name="closing_time" id="storeClosing">
          </div>

        <div class="mb-2">
            <label>Open Days</label>
                <div id="storeDaysContainer">

                    <div class="form-check">
                    <input class="form-check-input day-checkbox" type="checkbox" value="Mon" name="open_days">
                    <label class="form-check-label">Monday</label>
                    </div>

                    <div class="form-check">
                    <input class="form-check-input day-checkbox" type="checkbox" value="Tue" name="open_days">
                    <label class="form-check-label">Tuesday</label>
                    </div>

                    <div class="form-check">
                    <input class="form-check-input day-checkbox" type="checkbox" value="Wed" name="open_days">
                    <label class="form-check-label">Wednesday</label>
                    </div>

                    <div class="form-check">
                    <input class="form-check-input day-checkbox" type="checkbox" value="Thu" name="open_days">
                    <label class="form-check-label">Thursday</label>
                    </div>

                    <div class="form-check">
                    <input class="form-check-input day-checkbox" type="checkbox" value="Fri" name="open_days">
                    <label class="form-check-label">Friday</label>
                    </div>

                    <div class="form-check">
                    <input class="form-check-input day-checkbox" type="checkbox" value="Sat" name="open_days">
                    <label class="form-check-label">Saturday</label>
                    </div>

                    <div class="form-check">
                    <input class="form-check-input day-checkbox" type="checkbox" value="Sun" name="open_days">
                    <label class="form-check-label">Sunday</label>
                    </div>

                </div>
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-between">

            <button type="submit"
                    name="action"
                    value="delete"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this store?')">
                Delete
            </button>

            <button type="submit"
                    name="action"
                    value="save"
                    class="btn btn-primary">
                Save changes
            </button>

        </div>
        
        
      </form>
    </div>
  </div>
</div>


<!-- sotrage manage madal -->

<div class="modal fade" id="StorageManageModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="POST" action="{% url 'edit_storage' %}">
        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Manage Storage</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <input type="hidden" name="storage_id" id="storage_id">

          <div class="mb-2">
            <label>Name</label>
            <input type="text" class="form-control" name="name" id="name">
          </div>

          <div class="mb-2">
            <label>Location Name</label>
            <input type="text" class="form-control" name="location_name" id="location_name">
          </div>

          <div class="mb-2">
            <label>Latitude</label>
            <input type="text" class="form-control" name="latitude" id="latitude">
          </div>

          <div class="mb-2">
            <label>Longitude</label>
            <input type="text" class="form-control" name="longitude" id="longitude">
          </div>

        </div> 

        <div class="modal-footer d-flex justify-content-between">

          <button type="submit"
                  name="action"
                  value="delete"
                  class="btn btn-danger"
                  onclick="return confirm('Are you sure you want to delete this store?')">
            Delete
          </button>

          <button type="submit"
                  name="action"
                  value="save"
                  class="btn btn-primary">
            Save changes
          </button>

        </div>

      </form>

    </div>
  </div>
</div>



{% comment %} product panage madal {% endcomment %}
<div class="modal fade" id="ProductManageModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url 'edit_product' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="modal-header">
          <h5 class="modal-title">Manage Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          
          <input type="hidden" name="product_id" id="product_id">

          <div class="mb-2">
            <label for="product_name">Name</label>
            <input type="text" class="form-control" name="name" id="product_name">
          </div>

          <div class="mb-2">
            <label for="product_category" class="form-label">Category</label>
            <select class="form-control" name="category" id="product_category">
                <option value="">Select Category</option>
                {% for cat in category %}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
            </select>
          </div>

          <div class="mb-2">
            <label for="product_price">Price</label>
            <input type="number" step="any" name="price" id="product_price" class="form-control">
          </div>
         
          <div class="mb-2">
            <label for="stock_quantity">Stock Quantity</label>
            <input type="number" step="any" name="stock_quantity" id="stock_quantity" class="form-control">
          </div>
         
          <div class="mb-2">
            <label for="product_image">Image</label>
            <input type="file" name="image" id="product_image">
          </div>

        </div>

        <div class="modal-footer d-flex justify-content-between">
            <button type="submit"
                    name="action"
                    value="delete"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this product?')">
                Delete
            </button>

            <button type="submit"
                    name="action"
                    value="save"
                    class="btn btn-primary">
                Save changes
            </button>
        </div>
        
      </form>
    </div>
  </div>
</div>

<!-- machine manage madal -->
 <div class="modal fade" id="MachineManageModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST"  action="{% url 'edit_machine' %}">
        {% csrf_token %}
        
        <div class="modal-header">
          <h5 class="modal-title">Manage Machine</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          
            <input type="hidden" name="machine_id" id="machineId">

            <div class="mb-2">
                <label>Location</label>
                <input type="text" class="form-control" name="location_name" id="location_name">
            </div>

            <div class="mb-2">
                <label>Machine Name</label>
                <input type="text" class="form-control" name="Machine_name" id="machineName">
            </div>

          <div class="mb-2">
            <label>Status</label>
            <select class="form-select" name="status" id="machineStatus">
                <option value="active">Online</option>
                <option value="inactive">Offline</option>
            </select>
          </div>

          <div class="mb-2">
            <label>Latitude</label>
            <input type="text" class="form-control" name="latitude" id="machineLat">
          </div>

          <div class="mb-2">
            <label>Longitude</label>
            <input type="text" class="form-control" name="longitude" id="machineLng">
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-between">

            <button type="submit"
                    name="action"
                    value="delete"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this machine?')">
                Delete
            </button>

            <button type="submit"
                    name="action"
                    value="save"
                    class="btn btn-primary">
                Save changes
            </button>

        </div>
        
        
      </form>
    </div>
  </div>
</div>
<!-- store manage javasript --> 
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.manage-btn').forEach(button => {
            button.addEventListener('click', function () {

                document.getElementById('storeId').value = this.dataset.id;
                document.getElementById('storeName').value = this.dataset.name;
                document.getElementById('storeStatus').value = this.dataset.status;
                document.getElementById('storeLat').value = this.dataset.lat;
                document.getElementById('storeLng').value = this.dataset.lng;
                document.getElementById('storeOpening').value = this.dataset.opening;
                document.getElementById('storeClosing').value = this.dataset.closing;
                document.querySelectorAll('.day-checkbox').forEach(cb => cb.checked = false);

                let days = this.dataset.days 
                    ? this.dataset.days.split(',').map(d => d.trim()) 
                    : [];

                document.querySelectorAll('.day-checkbox').forEach(cb => {
                    if (days.includes(cb.value)) {
                        cb.checked = true;
                    }
                });

            });
        });
    });

    {% comment %} machine manage btn  {% endcomment %}
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.MachineManage-btn').forEach(button => {
            button.addEventListener('click', function () {

                document.getElementById('machineId').value = this.dataset.id;
                document.getElementById('machineName').value = this.dataset.name;
                document.getElementById('machineStatus').value = this.dataset.status;
                document.getElementById('machineLat').value = this.dataset.lat;
                document.getElementById('machineLng').value = this.dataset.lng;
                document.getElementById('location_name').value = this.dataset.locationname;
            });
        });
    });
{% comment %} Storage manage btn {% endcomment %}
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.StorageManage-btn').forEach(button => {
            button.addEventListener('click', function () {


            document.getElementById('storage_id').value = this.dataset.id;
            document.getElementById('name').value = this.dataset.name;
            document.getElementById('latitude').value = this.dataset.lat;
            document.getElementById('longitude').value = this.dataset.lng;
            document.getElementById('location_name').value = this.dataset.locationName;

            });
        });
    });

{% comment %}  Product manage btn  {% endcomment %}

    document.addEventListener('DOMContentLoaded', function () {

        const modal = document.getElementById('ProductManageModal');

        document.querySelectorAll('.ProductManage-btn').forEach(button => {
            button.addEventListener('click', function () {

                modal.querySelector('#product_id').value = this.dataset.id;
                modal.querySelector('#product_name').value = this.dataset.name;
                modal.querySelector('#product_price').value = this.dataset.price;
                modal.querySelector('#product_category').value = this.dataset.category;
                modal.querySelector('#stock_quantity').value = this.dataset.stock_quantity;
            });
        });

    });


    {% comment %} img hover preview  {% endcomment %}
    document.querySelectorAll('.img-hover-container').forEach(container => {
        const preview = container.querySelector('.hover-preview');
        const thumb = container.querySelector('.thumb');

        container.addEventListener('mouseenter', () => {
            const rect = thumb.getBoundingClientRect();

            let top = rect.top;
            let left = rect.right + 10;

            if (left + 220 > window.innerWidth) {
                left = rect.left - 210;
            }

            if (top + 220 > window.innerHeight) {
                top = window.innerHeight - 220;
            }

            preview.style.top = top + 'px';
            preview.style.left = left + 'px';
            preview.style.display = 'block';
        });

        container.addEventListener('mouseleave', () => {
            preview.style.display = 'none';
        });
    });

</script>

{% comment %} img hover preview {% endcomment %}
<style>
    .img-hover-container {
        position: relative;
        display: inline-block;
    }

    /* Small image */
    .thumb {
        width: 40px;
        height: 40px;
        object-fit: cover;
        cursor: pointer;
    }

    /* Hidden preview */
    .hover-preview {
        display: none;
        position: fixed;
        border: 1px solid #ccc;
        background: #fff;
        padding: 5px;
        z-index: 9999;
    }

    .hover-preview img {
        width: 200px;
        height: auto;
    }



    /* Show on hover */
    .img-hover-container:hover .hover-preview {
        display: block;
    }
</style>
{% endblock %}